<!--The content below is only a placeholder and can be replaced.-->
<h1>
	Идеи для вашего отпуска!
</h1>

<div class="noseach">
	<p>Не нашли интересующий курорт? Введите название страны или города ниже:
		<input type="text" size="30">
	</p>

</div>

<div class="offers">

	<div class="offers1">
		<img src="../assets/goa.jpg" alt="Картинка Гоа" width="300" height="200">
		<h2>Гоа – край моря, солнца и незабываемого индийского колорита</h2>
		<p>Гоа – самый туристический штат во всей Индии. Он условно разделен на две части: богатый юг и бюджетный север.</p>
		<span id="1" (click)="readMore($event)">Читать далее</span>
		<p class="description" *ngIf="!visibility">Южный Гоа – место для ленивого и респектабельного отдыха. Это край шикарных отелей с прохладными бассейнами, скрытых от
			посторонних глаз в тени пальмовых рощ. Здесь в основном собираются лишь состоятельные туристы из Европы и Америки, для
			того чтобы целыми днями вкушать дорогие блюда и праздно проводить время под гоанским солнцем. Северный же Гоа – полная
			противоположность южному. Это царство бюджетного и неформального отдыха. Постоянные тусовки и андеграундные фестивали.
			Пристанище хиппи, веселых фриков и бродячих йогов. В общем, движ, драйв и развлечения! Каждый выбирает отдых в Гоа по
			своим финансовым возможностям, однако, как ни крути, вряд ли кому-то удастся скрыться здесь от всепоглощающего индийского
			колорита!
		</p>
	</div>

	<div class="offers2">
		<img src="../assets/paphos.jpg" alt="Картинка Пафоса" width="300" height="200">
		<h2>Пафос – осколок Древнего мира</h2>
		<p>Пафос – это популярный и очаровательный город, расположенный на юго-западной окраине Кипра. В течение долгих столетий он
			играл роль культурного центра острова, что и продолжает делать сегодня.</p>
		<span id="2" (click)="readMore($event)">Читать далее</span>
		<p class="description" *ngIf="!visibility">Пафос в течение долгих столетий он играл роль культурного центра острова, что и продолжает делать сегодня. Поэтому здесь
			все буквально пропитано наследием прошлых эпох и по-прежнему сохраняются многовековые традиции. Благодаря наличию уникальных
			памятников истории город занесен ЮНЕСКО в список объектов мирового культурного наследия.</p>
	</div>

	<div id="offers3">
		<img src="../assets/berlin.jpg" alt="Картинка Берлина" width="300" height="200">
		<h2>Берлин - медвежий угол</h2>
		<p>На первый взгляд, Берлин кажется суровым городом серого цвета. Архитектура выглядит строго, жители – неброско, но, как
			говорят люди, влюбленные в немецкую столицу, этот город хорош не с фасада, а с изнанки. </p>
		<span id="3" (click)="readMore($event)">Читать далее</span>
		<p class="description" *ngIf="!visibility">Столица Германии – это единственный город на планете, посреди которого когда-то была построена гигантская стена, разделившая
			жителей на два разных государства. И даже после объединения спустя 28 лет Берлин остался и до сих пор остается каким-то
			разным. Половина города – та, что была ФРГ – сегодня выглядит как современная Европа, а вторая половина – бывшая ГДР –
			часто напоминает постсоветские города. Не секрет, что имя свое Берлин получил от слова «медведь», поэтому и символом города
			выступает косолапый. Действительно, медведи здесь везде: медведь на гербе, медведь – главная награда на берлинском кинофестивале,
			и медведь же – главный сувенирный товар. В общем, полная медвежья вакханалия! Не ждите от Берлина какой-то особенной изысканности
			и утонченности. В этот город надо просто погрузиться с головой, и тогда вы сможете почувствовать его неповторимый европейский
			шарм.
		</p>
	</div>

</div>
